<!DOCTYPE html>
<html lang="en">

<head>
  <title>LIMES Web UI</title>

  <meta charset="utf-8">
  <meta name="description" content="LIMES Web UI">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material@0.8.1/dist/vue-material.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <style lang="scss" scoped>
  .dropdown {
    position: relative;
    display: block;
    .dropdown-input {
      background: #fff;
      cursor: pointer;
      border: 1px solid #e7ecf5;
      border-radius: 3px;
      color: #333;
      display: block;
      font-size: .8em;
      padding: 6px;
      min-width: 250px;
      max-width: 250px;
      &:hover {
        background: #f8f8fa;
      }
    }
    .dropdown-content {
      position: absolute;
      background-color: #fff;
      min-width: 248px;
      max-width: 248px;
      border: 1px solid #e7ecf5;
      box-shadow: 0px -8px 34px 0px rgba(0,0,0,0.05);
      z-index: 1;
      .dropdown-item {
        color: black;
        font-size: .7em;
        line-height: 1em;
        padding: 8px;
        text-decoration: none;
        display: block;
        cursor: pointer;
        &:hover {
          background-color: #e7ecf5;
        }
      }
    }
    .dropdown:hover .dropdowncontent {
      display: block;
    }
  }
  .dropdown-content {
      height: 100px;
      overflow: auto;
  }
  .dropdown-item {
    padding-top: 4px;
  }
  .contColumns {
    width: 46%;
    display: block;
    margin-right: 16px;
  }
  .message {
    color : red;
  }
  .advancedOptions {
    color: #3f51b5;
  }
  .row{
    display: flex;
  }
  .twoColumns{
    flex: 50%;
  }
</style>

  <!-- LIMES server ref -->
  <script>
    // should not have trailing slash!
    window.LIMES_SERVER_URL = window.location.href;
  </script>
</head>

<body>
  <div id="app">
    Loading..
  </div>

  <!-- templates -->
  <!-- main app template -->
  <script type="text/x-template" id="mainApp">
    <div>
      <md-toolbar>
        <h2 class="md-title" style="flex: 1">LIMES Web UI</h2>
        <md-button v-on:click="exampleConfig()">Try example LGD config</md-button>
      </md-toolbar>

      <!-- config text dialog -->
      <md-dialog ref="configDialog">
        <md-dialog-title>Config XML</md-dialog-title>

        <md-dialog-content><pre><code class="xml hljs" v-html="configText"></code></pre></md-dialog-content>

        <md-dialog-actions>
          <md-button class="md-primary" @click="closeConfig()">Close</md-button>
        </md-dialog-actions>
      </md-dialog>

      <!-- job status dialog -->
      <md-dialog ref="jobDialog">
        <md-dialog-title>Job status</md-dialog-title>

        <md-dialog-content>
          <div class="md-flex">
            <md-spinner md-indeterminate v-if="jobRunning"></md-spinner>
          </div>
          <div class="md-flex" v-if="!jobError">
            {{ jobStatusText }}
          </div>
          <div class="md-flex" style="color: red;" v-if="jobError">
            {{ jobError }}
          </div>
          <div class="md-flex" v-if="jobStatus > 0 || jobStatus === -2">
            <a v-bind:href=" window.LIMES_SERVER_URL + '/logs/' + jobId" target="_blank">Show log</a>
          </div>
          <div class="md-flex" v-if="jobStatus === 2">
            Get results:
              <ul>
                <li v-for="r in results"><a v-bind:href=" window.LIMES_SERVER_URL + '/result/' + jobId + '/' + r " target="_blank">{{r}}</a></li>
              </ul>
          </div>
        </md-dialog-content>

        <md-dialog-actions>
          <md-button class="md-primary" @click="closeStatus()">Close</md-button>
        </md-dialog-actions>
      </md-dialog>

      <md-layout md-gutter>
        <md-layout md-flex-offset="25" md-column>
          <!-- prefixes UI -->
          <prefixes-list v-bind:deleteChip="deletePrefix" v-bind:addPrefix="addPrefix"
          v-bind:prefixes="prefixes" v-bind:filteredOptions="filteredOptions"
          v-bind:context="context"></prefixes-list>
          <!-- datasources UI -->
          <datasource-component 
          v-bind:source="source" 
          title="Data source" 
          v-bind:advancedOptionsShow="advancedOptionsShow"
          v-on:toggle-restr-src="source.restriction = $event"
          v-on:toggle-prefix-from-rest="addPrefix($event)"
          v-on:toggle-del-exprefix="deletePrefix($event)"
          ></datasource-component>

          <datasource-component 
          v-bind:source="target" 
          v-bind:advancedOptionsShow="advancedOptionsShow" 
          v-on:toggle-restr-target="target.restriction = $event"
          v-on:toggle-prefix-from-rest="addPrefix($event)"
          v-on:toggle-del-exprefix="deletePrefix($event)"
          title="Data target"  
          ></datasource-component>

          <md-tabs>
            <md-tab id="manualMetric" md-label="Manual metric">
              <datacanvas-component v-bind:source="source" v-bind:target="target" title="Data target"></datacanvas-component>
            </md-tab>
            <md-tab id="machineLearning" md-label="Machine learning">
              <!-- machine learning UI -->
              <mlalgorithm-component v-bind:data="mlalgorithm"></mlalgorithm-component>
            </md-tab>
          </md-tabs>


          <!-- metrics UI -->
          <metrics-component
            v-bind:metrics="metrics"
          ></metrics-component>
          <!-- acceptance UI -->
          <div class="row">
            <accreview-component class="twoColumns" v-bind:data="acceptance" v-bind:acceptance="acceptance" v-bind:prefixes="context" v-on:send-prefix="addPrefix($event)" v-on:del-exprefix="deletePrefix($event)" v-on:change-threshold="acceptance.threshold = $event" title="Acceptance Condition"></accreview-component>
            <accreview-component class="twoColumns" v-bind:data="review" v-bind:acceptance="acceptance" v-bind:prefixes="context" v-on:send-prefix="addPrefix($event)" v-on:del-exprefix="deletePrefix($event)" v-on:change-revthreshold="review.threshold = $event" title="Review Condition"></accreview-component>
          </div>
          <!-- execution UI -->
          <execution-component v-bind:execution="execution" v-bind:advancedOptionsShow="advancedOptionsShow"
          ></execution-component>
          <!-- output UI -->
          <output-component v-bind:output="output"></output-component>
          <!-- enable advanced options UI -->
          <advancedoptions-component v-bind:advancedOptionsShow="advancedOptionsShow" v-on:toggle-advanced-options="advancedOptionsShow = $event"></advancedoptions-component>

          <!-- done button -->
          <md-layout md-gutter="16">
            <md-layout>
              <md-button class="md-raised md-flex" v-on:click="showConfig()">Display config</md-button>
            </md-layout>
            <md-layout>
              <md-button class="md-raised md-primary md-flex" v-on:click="execute()">Execute</md-button>
            </md-layout>
          </md-layout>
        </md-layout>
        <md-layout md-flex="25"></md-layout>
      </md-layout>
    </div>
  </script>

  <!-- prefixes component -->
  <script type="text/x-template" id="prefixComponent">
    <md-whiteframe md-tag="section" style="margin-top: 20px; flex: 1; padding-top: 15px; padding-left: 15px;">
      <div class="md-title">Prefixes</div>

      <md-layout>
        <div style="padding-top: 20px;" v-if="!prefixes.length">No prefixes defined..</div>
        <md-chip v-for="prefix in prefixes" md-deletable v-on:delete="deleteChip(prefix)" style="margin-left: 3px">
          {{ prefix.label }}
          <md-tooltip md-direction="bottom">{{ prefix.namespace }}</md-tooltip>
        </md-chip>
      </md-layout>

      <md-layout md-gutter="8">
        <md-layout md-flex="33">
          <md-input-container class="dropdown">
            <label>Label</label>
            <md-input class="dropdown-input" v-model="label" @focus="onFocus" @blur="onBlur" placeholder="Label"></md-input>

            <div class="dropdown-content"
                  v-show="optionsShown">
                  <div
                    class="dropdown-item"
                    @mousedown="selectOption(option)"
                    v-for="option in afterFilteredOptions">
                      {{ option }}
                  </div>
                  
            </div> 
            

          </md-input-container>
        </md-layout>
        <md-layout md-flex>
          <md-input-container>
            <label>Namespace</label>
            <md-input v-model="namespace" placeholder="Namespace"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="25">
          <md-button v-on:click="add()">Add</md-button>
        </md-layout>
      </md-layout>
    </md-whiteframe>
  </script>

  <!-- datasource component -->
  <script type="text/x-template" id="datasourceComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <div class="md-title">{{ title }}</div>

      <!-- source -->
      <md-layout md-column>
        <md-layout>
          <md-input-container class="advancedOptions" v-show="advancedOptionsShow">
            <label>ID</label>
            <md-input v-model="source.id" placeholder="ID"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container class="dropdown">
            <label>Endpoint</label>
            <md-input v-model="source.endpoint" @keyup.enter.native="enterEndpointClicked"
            @focus="onFocus" @blur="onBlur" placeholder="Endpoint"
            ></md-input>
         
            <div class="dropdown-content"
                  v-show="optionsShown">
                  <div
                    class="dropdown-item"
                    @mousedown="selectOption(option)"
                    v-for="option in afterFilteredOptions">
                      {{ option }}
                  </div>
                  
            </div> 



          </md-input-container>

        </md-layout>
        <md-layout>
          <md-input-container class="advancedOptions" v-show="advancedOptionsShow">
            <label>Var</label>
            <md-input v-model="source.var" placeholder="Var"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container class="advancedOptions" v-show="advancedOptionsShow">
            <label>Pagesize</label>
            <md-input v-model="source.pagesize" placeholder="Pagesize"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container class="contColumns">
            <label>Restriction</label>
            <md-input v-model="source.restriction" placeholder="Restriction"></md-input>
          </md-input-container>

          <md-input-container class="contColumns">
            <label>Restriction class</label>
            <md-input class="dropdown" v-model="classVar" @keyup.enter.native="enterClassClicked"
            @focus="onClassFocus" @blur="onClassBlur" placeholder="Select restriction class"></md-input>
         
          <p class="message">{{messageAboutClasses}}</p>
            <div class="dropdown-content"
                  v-show="classesShown">
                  <div
                    class="dropdown-item"
                    @mousedown="selectClass(option)"
                    v-for="option in afterFilteredClasses">
                      {{ option }}
                  </div>
                  
            </div> 


          </md-input-container>
          <p class="message">{{messageAboutProps}}</p>

        </md-layout>
        <md-layout>
          <md-input-container class="advancedOptions" v-show="advancedOptionsShow">
            <label>Type (optional)</label>
            <md-input v-model="source.type" placeholder="Type (optional)"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout  class="advancedOptions" v-show="advancedOptionsShow">
          Properties

          <md-chips v-model="source.properties" md-input-placeholder="Add a property"></md-chips>
          
<!--           <div class="draggablePart">
            <div class="draggableElement" v-for="option in propertiesForChoice" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">
                      {{ option }}
            </div>
            <div class="draggableBox" ondragover="return false"></div>
          </div> -->

        </md-layout>
        <md-layout class="advancedOptions" v-show="advancedOptionsShow">
          Optional Properties
          <md-chips v-model="source.optionalProperties" md-input-placeholder="Add an optional property"></md-chips>
        </md-layout>
      </md-layout>
    </md-whiteframe>
  </script>

  <script type="text/x-template" id="datacanvasComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <md-layout>
          <div id="blocklyArea" style="height: 500px; width: 100%;"></div>
          <div id="blocklyDiv" style="position: absolute"></div>
          <xml id="toolbox" style="display: none">
            <category name="Source&Target">  
              <block type="sourceproperty"></block>
              <block type="targetproperty"></block>
              <block type="optionalsourceproperty"></block>
              <block type="optionaltargetproperty"></block>
              <block type="measure"></block>
              <block type="operator"></block>
            </category>
            <category name="Preprocessing functions"> 
              <block type="nolangpreprocessingfunction"></block> 
              <block type="renamepreprocessingfunction"></block>
              <block type="lowercasepreprocessingfunction"></block>
              <block type="uppercasepreprocessingfunction"></block>
              <block type="numberpreprocessingfunction"></block>
              <block type="cleaniripreprocessingfunction"></block>
              <block type="celsiuspreprocessingfunction"></block>        
              <block type="fahrenheitpreprocessingfunction"></block>
              <block type="removebracespreprocessingfunction"></block>
              <block type="regularalphabetpreprocessingfunction"></block>
              <block type="uriasstringpreprocessingfunction"></block>    
            </category> 
          </xml>
      </md-layout>
    </md-whiteframe>
  </script>

  <!-- metrics component -->
  <script type="text/x-template" id="metricsComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <div class="md-title">Metrics</div>
      <md-chips v-model="metrics" md-static></md-chips>

    </md-whiteframe>
  </script>

  <!-- acceptance / review component -->
  <script type="text/x-template" id="accreviewComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <div class="md-title">{{ title }}</div>
      <md-input-container>
        <label>Threshold</label>
        <input type="range" min="0" :max="getMaxV()" step="0.01" v-model.number="data.threshold">
        <md-input v-model="data.threshold" placeholder="Threshold"></md-input>
      </md-input-container>
      <md-input-container>
        <label>File</label>
        <md-input v-model="data.file" placeholder="File"></md-input>
      </md-input-container>
      <md-input-container>
        <label>Relation</label>
        <md-input v-model="data.relation" placeholder="Relation"></md-input>
        <p class="message">{{messageAboutPrefixInRelation}}</p>
      </md-input-container>
    </md-whiteframe>
  </script>

  <!-- mlalgorithm component -->
  <script type="text/x-template" id="mlalgorithmComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <md-layout>
        <md-layout md-flex="75" style="align-items: center;">
          <div class="md-title" style="height: 26px;">
            Machine Learning
          </div>
        </md-layout>
        <md-layout>
          <md-button v-on:click="enable()" v-if="!data.enabled">Enable</md-button>
          <md-button v-on:click="disable()" v-if="data.enabled">Disable</md-button>
        </md-layout>
      </md-layout>

      <md-input-container v-if="data.enabled">
        <label>Name</label>
        <md-input v-model="data.name" placeholder="Name"></md-input>
      </md-input-container>
      <md-input-container v-if="data.enabled">
        <label>Type</label>
        <md-input v-model="data.type" placeholder="Type"></md-input>
      </md-input-container>
      <md-input-container v-if="data.enabled">
        <label>Training</label>
        <md-input v-model="data.training" placeholder="Training"></md-input>
      </md-input-container>

      <md-layout v-if="data.enabled">
        <div style="padding-top: 20px;" v-if="!data.parameters.length">No parameters defined..</div>
        <md-chip v-for="param in data.parameters" md-deletable v-on:delete="deleteParam(param)" style="margin-left: 3px">
          {{ param.name }}: {{ param.value }}
        </md-chip>
      </md-layout>
      <md-layout md-gutter="8" v-if="data.enabled">
        <md-layout md-flex="33">
          <md-input-container>
            <label>Name</label>
            <md-input v-model="name" placeholder="Name"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex>
          <md-input-container>
            <label>Value</label>
            <md-input v-model="value" placeholder="Value"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="25">
          <md-button v-on:click="add()">Add</md-button>
        </md-layout>
      </md-layout>

    </md-whiteframe>
  </script>

  <!-- execution component -->
  <script type="text/x-template" id="executionComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;" class="advancedOptions" v-show="advancedOptionsShow">
      <div class="md-title">Execution</div>

      <md-layout md-gutter="8" style="padding-top: 10px; padding-bottom: 15px;">
        <md-layout md-flex="50">
          <md-field>
            <label for="planner">Planner</label>
            <md-select v-model="execution.planner" name="planner" id="planner">
              <md-option value="DEFAULT">Default</md-option>
              <md-option value="HELIOS">Helios</md-option>
              <md-option value="DYNAMIC">Dynamic</md-option>
            </md-select>
          </md-field>
        </md-layout>
        <md-layout md-flex="50">
          <md-field>
            <label for="engine">Engine</label>
            <md-select v-model="execution.engine" name="engine" id="engine">
              <md-option value="DEFAULT">Default</md-option>
              <md-option value="SIMPLE">Simple</md-option>
            </md-select>
          </md-field>
        </md-layout>
      </md-layout>
    </md-whiteframe>
  </script>

  <!-- output component -->
  <script type="text/x-template" id="outputComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding: 15px;">
      <div class="md-title">Output</div>

      <md-select v-model="output.type" name="output" id="output">
        <md-option value="TAB">TAB</md-option>
        <md-option value="CSV">CSV</md-option>
        <md-option value="TTL">TTL</md-option>
        <md-option value="N3">N3</md-option>
      </md-select>
    </md-whiteframe>
  </script>

  <!-- advancedOptions component -->
  <script type="text/x-template" id="advancedOptions">
    <md-whiteframe md-tag="section" style="flex: 1; padding: 15px;">
      <md-switch v-model="advancedOptionsShow" @change="switchCheck" ref="advancedOpts" id="my-advancedChecked" name="my-advancedChecked" class="md-primary">Enable advanced options</md-switch>
    </md-whiteframe>
  </script>

  <!-- libs -->
  <script src="https://unpkg.com/vue@2.5.3/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-material@0.8.1/dist/vue-material.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/languages/xml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/2.0.4/go-debug.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <script src="./blockly-1.20190215.0/blockly_compressed.js"></script>
  <script src="./blockly-1.20190215.0/blocks_compressed.js"></script>
  <script src="./blockly-1.20190215.0/msg/js/en.js"></script>
  <!-- our scripts -->
  <script src="blocks.js"></script>
  <script src="prefixes.js"></script>
  <script src="mlalgorithm.js"></script>
  <script src="simplecomponents.js"></script>
  <script src="main.js"></script>
</body>

</html>
