*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*/bin/

*~
*/target/
.project
.classpath
.settings/
**/.idea/
*.iml
.DS_Store
*.ser

# ignore gitbook builds
_book
limes-core/src/test/resources/WordNet-3.0/
limes-core/src/test/resources/de-freq-orig.txt
limes-core/src/test/resources/de-freq.txt
limes-core/src/test/resources/doc2vec-precomputed.pv
limes-core/src/test/resources/en-de-freq.txt
limes-core/src/test/resources/en-de-small.txt
limes-core/src/test/resources/en-freq.txt
limes-core/src/test/resources/raw_sentences.txt
limes-core/src/test/resources/readme.txt
limes-core/src/test/resources/unsup.128.de
limes-core/src/test/resources/unsup.128.en
limes-core/src/test/resources/unsup.40.de
limes-core/src/test/resources/unsup.40.en
